---

name: Helm Charts Release v3
on:
  workflow_dispatch:
    inputs:
      release:
        description: 'Release version'
        required: true
        type: string
permissions:
  contents: write
  packages: write
run-name: ${{ github.repository }} Release ${{ github.event.inputs.release }}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  chart-release-prepare:
    runs-on: ubuntu-latest
    outputs:
      images-versions: ${{ steps.update-versions.outputs.images-versions }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
#      - name: "Update versions in values"
#        id: update-versions
#        uses: netcracker/qubership-workflow-hub/actions/charts-values-update-action@feature/chart-values-update-action-log
#        with:
#          release-version: ${{ inputs.release }}
#          config-file: .github/helm-charts-release-config.yaml
#          create-release-branch: 'false'
#        env:
#          ${{ insert }}: ${{ vars }}
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          GITHUB_ACTOR: ${{ github.actor }}

# Adding all github.vars to github.env context
      - name: Prepare vars
        id: vars
        run: |
          VARS_JSON='''
          ${{ toJson(vars) }}
          '''
          echo "${VARS_JSON}" | jq -r 'to_entries|map("\(.key)=\(.value)")|.[]' >> $GITHUB_ENV

      - name: "Debug-01"
        run: |
          echo "Environment: ${{ toJson(env) }}"
          echo "Variables: ${{ toJson(vars) }}"
      - name: "Debug-02"
        run: |
          echo "Direct insertion of env.variables:"
          echo "ZOO_VERSION: ${{ env.ZOO_VERSION }}"
          echo "VARIABLE_1: ${{ env.VARIABLE_1 }}"
          echo "VARIABLE_2: ${{ env.VARIABLE_2 }}"

          echo "Insert env.variables as bash vars:"
          echo "ZOO_VERSION=${ZOO_VERSION}"
          echo "VARIABLE_1=${VARIABLE_1}"
          echo "VARIABLE_2=${VARIABLE_2}"
